textarea {
    width: 95%;
    height: 150px;
    margin-left: 20px;
}

.grid-items {
    background-color: beige;
    border: 1px solid lightgray;
    padding: 30px;
    font-size: 20px;
    text-align: center;
}

.post-like {
    width: 1px;
    height: 1px;
}